		.setForm {
			background-color:seagreen; 
			width: 500px;
			margin: auto;
			border:1px solid #aaa;
			border-radius: 20px;
			padding: 0 0 10px;
			font-family:微軟正黑體 sans-serif;
		}
		.box {
			position: fixed;
			left:30%;
			top:100px;
			width: 300px;
			margin:auto;
			border: 2px solid #ccc;
			transition: top 2s ease-out;
		}
		img {
			position: fixed;
			top:0px;
			left:0px;
		}
		
		input {
			font-size: 1.1em;
			margin: 0 0 10px 0;
			text-align: center; 
		}
		p.form {
			border-bottom-style: dashed ;

		}
		button {
			font-size: 1.1em;
			width: 210px;
			background-color: #ccc ;
			margin: 0 20px ;
		}
		h2,h3 {
			text-align: center;
			margin-bottom: 5px;
			text-shadow: 0px 0px 10px #adff2f;
		}
		.btnok {
			float: left;
		}
		div#show {
			clear:both;
			top:600px;
			width: 520px;
			height: 500px;
			margin: 260px auto;
			border:1px solid #CCC;
		}
		